.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1200px;
  height: 575px;

  background-color: #797978;
  padding-left: 30px;
  border-radius: 25px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}
p{
  margin-left: 20px;
}

#weight-guide {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}
button:hover{
  cursor: pointer;
  box-shadow: 5px 2px 5px #212121;
}

h1 {
  text-align: center;
}

#results{
  text-align: center;
  font-size: 20px;
  color: black;
}